@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

:root {
  --main-color: #1083d6;
  --title-color: #2A3B47;
  --text-color: #697477;
  --light-text-color: #A0A7AC;
  --border-color: #EFF3F5;
  --container-color: #FFFFFF;
  --body-color: #FBFBFE;
  --shadow-color: #121212;
}

body.dark-theme {
  --main-color: #52A5E0;
  --title-color: #EFF3F5;
  --text-color: #C8CDD0;
  --light-text-color: #A0A7AC;
  --border-color: #21394b;
  --container-color: #212E36;
  --body-color: #192229;
  --shadow-color: #f1eeee;
}

body {
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  min-height: 100vh;

  background: var(--body-color);
  color: var(--text-color);
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  color: var(--title-color);
  text-align: center;
  padding: 1rem;
  text-transform: uppercase;
}

a {
  text-decoration: none;
  color: inherit;
  font-size: 1.1rem;
  font-weight: bold;

}

.title button {
  position: absolute;
  right: 20px;
  top: 10px;
}

.container {
  max-width: 1024px;
  color: var(--text-color);
  background: var(--container-color);
  margin: 0 auto 1.5rem auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;

  border-radius: 0.5rem;
  box-shadow: 4px 4px var(--shadow-color);
}

.ingreso {
  width: 65%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

}

label {
  font-size: 0.7rem;
}

.ingreso textarea {
  width: 100%;
  height: 80%;
  border-radius: 0.5rem;
  border: 1px solid transparent;
  resize: none;
  margin-bottom: 1.5rem;
  color: var(--text-color);
}

.buttonPrim {
  display: flex;
  justify-content: space-between;
}

.funciones {
  gap: 5rem;
}

span {
  font-size: medium;
}

.egreso {
  width: 400px;
  height: 75vh;
  padding: 1rem;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

textarea:focus {
  outline: none;
}

.egreso textarea {
  background-image: url(./img/SearchCoding.svg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: 75%;
  width: 100%;
  min-width: 200px;
  height: 80%;
  border-radius: 0.5rem;
  resize: none;

  border: 0.125rem solid var(--border-color);
  filter: drop-shadow(4px 4px var(--shadow-color));
  margin-bottom: 1.5rem;

  color: var(--text-color);
}

.buttonSec {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

footer {
  text-align: center;
  bottom: 0;
  width: 100%;
  color: var(--main-color);
  padding: 0.5rem 0;
}

.retro {
  margin: 0.2rem;
  font-weight: bold;
  text-transform: uppercase;
  filter: drop-shadow(4px 4px var(--shadow-color));
  background-color: var(--container-color);
  padding: 0.75rem 1rem;
  border: 0.125rem solid var(--shadow-color);
  border-radius: 0.1rem;
  display: inline-block;
  cursor: pointer;
  box-shadow: inset 0 0 0 0 var(--shadow-color);
  -webkit-transition: ease-out 0.4s;
  -moz-transition: ease-out 0.4s;
  transition: ease-out 0.4s;
}

.retro:active {
  transform: translate(0.125rem 0.125rem);
  box-shadow: 0.125rem 0.125rem var(--shadow-color);
}

.retro:hover {
  box-shadow: inset 400px 0 0 0 var(--shadow-color);
  color: var(--main-color);
  transform: scale(0.99);
}

.btnImg {
  padding: 0.5rem;
}

.btnImg img {
  width: 1.5rem;
  height: 1.5rem;
}

@media only screen and (max-width:850px) {

  h1 {
    text-align: center;
    padding-bottom: 0;
  }

  .container {
    flex-direction: column;
  }

  .ingreso {
    width: 100%;
    height: 50vh;
  }

  .ingreso textarea {
    height: 70%;
    min-width: 200px;
  }

  .egreso {
    width: 100%;
    height: 35vh;
    gap: 1rem;
  }

  .egreso textarea {
    background-image: none;
  }

  .buttonPrim {
    flex-direction: column;
  }

  .funciones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 0.75rem;
  }

  .funciones button {
    width: 45%;
  }

  .extraFunction {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin: 0.75rem;
  }
}

@media only screen and (max-width:480px) {
  .ingreso textarea {
    height: 60%;
  }

  .funciones {
    flex-direction: column;
    margin: 0;
  }

  .extraFunction {
    justify-content: center;
  }

  .funciones button {
    width: 95%;
    min-width: 200px;
  }

}

.change-theme-button {
  font-size: 20px;
  font-weight: 600;
  outline: none;
  color: var(--title-color);
  background: none;
  border: none;
  cursor: pointer;
}

.change-theme-button::before {
  content: '🌞';
}

.dark-theme .change-theme-button::before {
  content: '🌚';
}