body {
  font-family: 'Courier New', Courier, monospace, Times, serif;
  font-weight: 700;
  min-height: 100vh;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

h1 {
  padding: 1rem;
  text-transform: uppercase;
}

.container {
  max-width: 1024px;
  margin: 0 auto 1.5rem auto;
  padding: 1rem 0;
  display: flex;
  flex-direction: row;
  gap: 1rem;
 /*  border: 1px solid green; */
}

.ingreso {
  width: 65%;
  padding: 1rem;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

/*   border: 1px solid blue; */
}

label {
  font-size: 0.7rem;
}

.ingreso textarea {
  width: 100%;
  height: 80%;
  border-radius: 0.5rem;
  border: 1px solid transparent;

  resize: none;

/*   filter: drop-shadow(4px 4px 4px rgba(0, 0, 0, 0.4)); */
  margin-bottom: 1.5rem;
}

.buttonPrim {
  display: flex;
  justify-content: space-between;
}

.egreso {
  width: 400px;
  height: 75vh;
  padding: 1rem;


  display: flex;
  flex-direction: column;
  justify-content: space-between;

 /*  border: 1px solid red; */
}

textarea:focus {
  outline: none;
}

.egreso textarea {
  width: 100%;
  min-width: 200px;
  height: 80%;
  border-radius: 0.5rem;
  border: 1px solid transparent;

  resize: none;
  border: 0.125rem solid #121212;
  filter: drop-shadow(4px 4px  #121212); 
  /* box-shadow: 0.25rem 0.25rem #121212; */
  margin-bottom: 1.5rem;
}

.buttonSec {
  display: flex;
  justify-content: end;
  align-items: flex-end;
}

footer {
  /* background: rgb(18, 18, 18, 0.9); */
  text-align: center;
/*   position: fixed;
 */  bottom: 0;
  width: 100%;
  color: crimson;
  padding: 0.5rem 0;
}

.retro {
  font-weight: bold;
  text-transform: uppercase;

  background-color: white;
  padding: 0.75rem 1rem;
  border-radius: 0.25rem;
  border: 0.125rem solid #121212;
  box-shadow: 0.25rem 0.25rem #121212;

  transition: transform 50ms, box-shadow 50ms;
}

.retro:active {
  transform: translate(0.125rem 0.125rem);
  box-shadow: 0.125rem 0.125rem #121212;
}

.btnImg {
  padding: 0.5rem;
}

.btnImg img {
  width: 1.5rem;
  height: 1.5rem;
}

@media only screen and (max-width:850px) {
  body {
    background: green;
  }

  h1{
    text-align: center;
    padding-bottom: 0;
  }

  .container {
    flex-direction: column;
  }

  .ingreso {
    width: 100%;
    height: 65vh;
  }

  .ingreso textarea {
    height: 70%;
    min-width: 200px;
  }

  .egreso {
    width: 100%;
    height: 35vh;
    gap: 1rem;
  }

  .buttonPrim {
    flex-direction: column;
  }

  .funciones {
    width: 100%;
    display: flex;
    justify-content: center;
    gap: 1rem;
    margin: 0 0.75rem;
  }

  .funciones button {
    width: 45%;
  }

  .extraFunction {
    display: flex;
    justify-content: end;
    gap: 1rem;
    margin: 0.75rem;
  }
}

@media only screen and (max-width:480px) {
  body {
    background: greenyellow;
  }

  .ingreso textarea {
    height: 60%;
  }

  .funciones {
    flex-direction: column;
    margin: 0;
  }

  .extraFunction {
    justify-content: center;
  }

  .funciones button {
    width: 95%;
    min-width: 200px;
  }

}